[submodule "GPU"]
	path = GPU
	url = git@github.com:DSTAlex/GPU.git
[submodule "init_docker/epita-ing-major-docker-2025-alexandre.di-santo"]
	path = init_docker/epita-ing-major-docker-2025-alexandre.di-santo
	url = alexandre.di-santo@git.forge.epita.fr:p/epita-ing-major/docker-2025/epita-ing-major-docker-2025-alexandre.di-santo.git
[submodule "nosql/epita-ing-major-nosql-2025-alexandre.di-santo"]
	path = nosql/epita-ing-major-nosql-2025-alexandre.di-santo
	url = alexandre.di-santo@git.forge.epita.fr:p/epita-ing-major/nosql-2025/epita-ing-major-nosql-2025-alexandre.di-santo.git
[submodule "nosql/epita-ing-major-scale-2025-alexandre.di-santo"]
	path = nosql/epita-ing-major-scale-2025-alexandre.di-santo
	url = alexandre.di-santo@git.forge.epita.fr:p/epita-ing-major/scale-2025/epita-ing-major-scale-2025-alexandre.di-santo.git
[submodule "nosql/epita-ing-major-deploy-2025-alexandre.di-santo"]
	path = nosql/epita-ing-major-deploy-2025-alexandre.di-santo
	url = alexandre.di-santo@git.forge.epita.fr:p/epita-ing-major/deploy-2025/epita-ing-major-deploy-2025-alexandre.di-santo.git
[submodule "pfe"]
	path = pfe
	url = git@gitlab.cri.epita.fr:matthieu.jolimaitre/pfe.git
[submodule "robot/ssie-robot-simulator-tp1"]
	path = robot/ssie-robot-simulator-tp1
	url = git@gitlab.cri.epita.fr:alexandre.di-santo/ssie-robot-simulator-tp1.git
[submodule "robot/ssie-robot-command"]
	path = robot/ssie-robot-command
	url = git@gitlab.cri.epita.fr:alexandre.di-santo/ssie-robot-command.git
[submodule "twifeur/2025-epitweet-la-ruche-ssie"]
	path = twifeur/2025-epitweet-la-ruche-ssie
	url = git@gitlab.cri.epita.fr:ing/majeures/tc/info/student/2025/2025-epitweet-la-ruche-ssie.git
[submodule "nuage/cloud-tp-2"]
	path = nuage/cloud-tp-2
	url = git@gitlab.cri.epita.fr:luna.zozor/cloud-tp-2.git
